<table class="table table-striped contactTable">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let eachContact of contacts">
      <td>{{eachContact.firstName | uppercase}}</td>
      <td>{{eachContact.lastName | slugify }}</td>
      <td>{{eachContact.email}}</td>
      <td [class.text-warning]="eachContact.phone === null" [class.text-success]="eachContact.phone !== null" >{{eachContact.phone ? eachContact.phone : 'n/a'}}</td>
    </tr>
  </tbody>
</table>